<div class="row applicant">
  <div class="col-xs-4">
    <a href="#">Create/Edit Profile</a>
  </div>
  <div class="col-xs-4">
    <a href="#">Search for Jobs</a>
  </div>
  <div class="col-xs-4">
    <a href="#">Application Status</a>
  </div>
</div>
<div class="noview">
  <p>You do not have permission to view this page, please <a href="/">LOGIN</a></p>
</div>
<script>
  if(localStorage["applicant"]==="true") {
    $(".applicant").show();
    $(".noview").hide();
  } else {
    $(".applicant").hide();
    $(".noview").show();
  }
</script>
