    <h2>Manage Job Postings</h2>

    <div class="row employer">
      <div class="col-xs-3">
        <strong><a href="#">Create/Edit Company Profile</a></strong>
      </div>
      <div class="col-xs-3">
        <strong><a href="#">Create/Edit Job Posting</a></strong>
      </div>
      <div class="col-xs-3">
        <strong><a href="#">View Applications</a></strong>
      </div>
      <div class="col-xs-3">
        <strong><a href="#">Search Talent</a></strong>
      </div>
    </div>
    <div class="noview">
      <p>You do not have permission to view this page, please <a href="/">LOGIN</a></p>
    </div>
    <script>
      if(localStorage["employer"]==="true") {
        $(".employer").show();
        $(".noview").hide();
      } else {
        $(".employer").hide();
        $(".noview").show();
      }
    </script>
