    <h1>Job Board</h1>
    <div class="row" id="login">
      <div class="col-xs-6 applicant">
        <div>
          <h2>Applicant Login</h2>
          <p>Login for applicants</p>
          <button id="appLogin">Login</button>
        </div>
      </div>
      <div class="col-xs-6 employer">
        <div>
          <h2>Employer Login</h2>
          <p>Login for Employers</p>
          <button id="empLogin">Login</button>
        </div>
      </div>
    </div>
    <div class="row" id="logout">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <h2>Logout</h2>
        <button id="logoutAll">Logout</button>
      </div>
      <div class="col-xs-4"></div>
    </div>

    <script>
    showPage();

    function showPage() {
      if(localStorage['employer']==="true" || localStorage['applicant']==="true") {
        $("#logout").show();
        $("#login").hide();
      } else {
        $("#logout").hide();
        $("#login").show();
      }
    }

    $("#logoutAll").click(function() {
      localStorage['employer']="false";
      localStorage['applicant']="false";
      location.reload();
    });
    $("#appLogin").click(function() {
      localStorage['applicant']="true";
      location.reload();
    });
    $("#empLogin").click(function() {
      localStorage['employer']="true";
      location.reload();
    });
    </script>
