    <h2>Find Jobs</h2>

    <div class="row applicant">
      <div class="col-xs-12">
        <form>
          <Label>Skills: </label> <input type="text">
          <Label>Experience Level: </label> <input type="text">
          <Label>Location: </label> <input type="text">
          <button>Find Jobs</button>
        </form>
      </div>
    </div>
    <div class="row applicant">
      <div class="col-xs-6">
        Job Title (Experience Level, Skills List)<br>
        Job Title (Experience Level, Skills List)<br>
        Job Title (Experience Level, Skills List)<br>
        Job Title (Experience Level, Skills List)<br>
      </div>
      <div class="col-xs-3">
        (<a href="/job">view job description</a>)<br>
        (<a href="/job">view job description</a>)<br>
        (<a href="/job">view job description</a>)<br>
        (<a href="/job">view job description</a>)<br>
      </div>
      <div class="col-xs-3">
        (<a href="#">Apply</a>)<br>
        (<a href="#">Apply</a>)<br>
        (<a href="#">Apply</a>)<br>
        (<a href="#">Apply</a>)<br>
      </div>
    </div>
    <div class="noview">
      <p>You do not have permission to view this page, please <a href="/">LOGIN</a></p>
    </div>
    <script>
      if(localStorage["applicant"]==="true") {
        $(".applicant").show();
        $(".noview").hide();
      } else {
        $(".applicant").hide();
        $(".noview").show();
      }
    </script>
