    <h2>Search Talent</h2>

    <div class="row employer">
      <div class="col-xs-12">
        <form>
          <Label>Skills: </label> <input type="text">
          <Label>Experience Level: </label> <input type="text">
          <Label>Location: </label> <input type="text">
          <button>Find Talent</button>
        </form>
      </div>
    </div>
    <div class="row employer">
      <div class="col-xs-6">
        Applicant Name<br>
        Applicant Name<br>
        Applicant Name<br>
        Applicant Name<br>
      </div>
      <div class="col-xs-3">
        (<a href="/profile">view profile</a>)<br>
        (<a href="/profile">view profile</a>)<br>
        (<a href="/profile">view profile</a>)<br>
        (<a href="/profile">view profile</a>)<br>
      </div>
      <div class="col-xs-3">
        (<a href="#">Recommend Job</a>)<br>
        (<a href="#">Recommend Job</a>)<br>
        (<a href="#">Recommend Job</a>)<br>
        (<a href="#">Recommend Job</a>)<br>
      </div>
    </div>
    <div class="noview">
      <p>You do not have permission to view this page, please <a href="/">LOGIN</a></p>
    </div>
    <script>
      if(localStorage["employer"]==="true") {
        $(".employer").show();
        $(".noview").hide();
      } else {
        $(".employer").hide();
        $(".noview").show();
      }
    </script>
